.container{
    width: 90%;
    justify-content: center;
    background-color: beige;
    border: 2px solid #999;
    border-radius: 10px;
    padding: auto;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
.formulario{
    display: flex;
    width: 50%;
    justify-content: center;
    margin: 40px 40px 40px;
}
.caja{
    width: 100%;
    border-radius:  10px;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid #1677e6;
}
.btn{
    width: 100%;
    border-radius: 10px;
    padding: 5px;
    background: #1677e6;
    color: azure;
}
.btn:hover{
    background-color: cornflowerblue;
    cursor: pointer;
}
.cap1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #999;
}
